<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
    <style>
        .error {
            color: red;
        }
        .input-error {
            border: 2px solid red;
        }
    </style>
</head>
<body>
    <h2>Registrar</h2>
    <form method="POST">
        {% csrf_token %}
        <!-- Campos de nome -->
        <div>
            <label for="id_first_name">Nome:</label>
            <input type="text" name="first_name" id="id_first_name" value="{{ form.first_name.value|default:'' }}">
            {% if form.first_name.errors %}
                <div class="error">{{ form.first_name.errors }}</div>
            {% endif %}
        </div>

        <div>
            <label for="id_last_name">Sobrenome:</label>
            <input type="text" name="last_name" id="id_last_name" value="{{ form.last_name.value|default:'' }}">
            {% if form.last_name.errors %}
                <div class="error">{{ form.last_name.errors }}</div>
            {% endif %}
        </div>

        <!-- Campos de e-mail e senha -->
        <div>
            <label for="id_email">E-mail:</label>
            <input type="email" name="email" id="id_email" value="{{ form.email.value|default:'' }}">
            {% if form.email.errors %}
                <div class="error">{{ form.email.errors }}</div>
            {% endif %}
        </div>

        <div>
            <label for="id_password1">Senha:</label>
            <input type="password" name="password1" id="id_password1" class="{% if form.password1.errors %}input-error{% endif %}" value="{{ form.password1.value|default:'' }}">
            <!-- {% if form.password1.errors %}
                <div class="error">{{ form.password1.errors }}</div>
            {% endif %} -->
        </div>
        
        <div>
            <label for="id_password2">Confirmar Senha:</label>
            <input type="password" name="password2" id="id_password2" class="{% if form.password2.errors %}input-error{% endif %}" value="{{ form.password2.value|default:'' }}">
            {% if form.password2.errors %}
                <div class="error">{{ form.password2.errors }}</div>
            {% endif %}
        </div>

        <button type="submit">Registrar</button>
    </form>

    <p>Já tem uma conta? <a href="{% url 'login' %}">Login</a></p>
</body>
</html>
